/* Cover */
#Cover section header {
  right: 15%;
  text-align: left;
  position: absolute;
}
#Cover section header h2 {
  font-size: 40px;
  color: #EEE;
}
#Cover section header h3 {
    font-size: 30px;
}
#Cover .byline {
  color: #6A7B86;
  text-align: left;
  position: absolute;
  bottom: 5%;
  right: 20%;
}

#Cover img {
	left:30%;
}

#StoryBegin h2 {
  position: absolute; 
  top: 3%; 
  font-size: 30px;
}

#StoryBegin img {
	top:50%;
	left:0;
	width:100%;
	height:auto;
}

.quote footer {
  position: absolute; 
  right: 18%; 
  bottom: 15%;
  font-size: 24px;
}

#ClosedPlatform h2 {
  position: absolute; 
  top: 40%; 
  color: black;
  font-size: 48px;
}


.desc {
  position: absolute; 
  color: #00539F;
}

#ClosedPlatform .desc {
  top: 53%; 
  left: 50%;
  right: 10%;
  background: white;
}

.img-container {
  text-align: center;
}

#TwoChoices img {
  border: 3px solid white;
  border-radius: 8px 8px 8px 8px;
  width: 550px;
}

#TwoChoices .desc {
  top: 15%; 
  right: 10%;
}


.img-container img {
  border: 3px solid white;
  border-radius: 8px 8px 8px 8px;
  max-width: 600px;
}

#GooglePrefers footer {
  bottom: 5%;
}

#HTMLPower img {
  width: 600px;
}

#Boot2Gecko em {
  background: #EE6600;
  border-radius: 8px 8px 8px 8px;
  padding: 10px;
  font-weight: bold;
  font-style: normal;
}

#Boot2Gecko p {
  color: #C13832;
  position: absolute; 
  top: 58%; 
  right: 20%;
  font-size: 40px;
}

#Demo strike {
  color: #666;
}
