/* Cover */
#Cover section header {
  right: 15%;
  text-align: left;
  position: absolute;
}
#Cover section header h2 {
  font-size: 40px;
  color: #EEE;
}
#Cover section header h3 {
    font-size: 30px;
}

#Cover section .listphoto {
  position: absolute;
  top: 40%;
  right: 10%;
  height: 180px;
  width: 400px;
}

#Cover section .listphoto img {
  width: 120px;
  height: 180px;
  position: relative;
  left: 18%;
  opacity: 0.5;
}

#Cover .byline {
  color: #6A7B86;
  text-align: left;
  position: absolute;
  bottom: 5%;
  right: 20%;
}

#Cover #homescreen img {
	left:30%;
}

#StoryBegin h2 {
  position: absolute; 
  top: 3%; 
  font-size: 30px;
}

#StoryBegin img {
	top:50%;
	left:0;
	width:100%;
	height:auto;
}

.quote footer {
  position: absolute; 
  right: 18%; 
  bottom: 15%;
  font-size: 24px;
}

#ClosedPlatform h2 {
  position: absolute; 
  top: 40%; 
  color: black;
  font-size: 48px;
  background: #eee;
  border-radius: 8px;
  opacity: 0.8;
  padding: 5px;
}


.desc {
  position: absolute; 
  color: #00539F;
}

#ClosedPlatform .desc {
  top: 55%; 
  left: 50%;
  right: 10%;
  background: white;
}

.img-container {
  text-align: center;
}

#TwoChoices img {
  border: 3px solid white;
  border-radius: 8px 8px 8px 8px;
  width: 550px;
}

#TwoChoices .desc {
  top: 15%; 
  right: 20%;
}

.img-container img {
  border: 3px solid white;
  border-radius: 8px 8px 8px 8px;
  max-width: 600px;
}

#GooglePrefers .desc {
  top: 15%;
  right: 20%;
  font-size: 30px;
  display: none;
}

#GooglePrefers footer {
  bottom: 5%;
}

#HTMLPower img {
  width: 600px;
}

#Boot2Gecko em {
  background: #EE6600;
  border-radius: 8px 8px 8px 8px;
  padding: 10px;
  font-weight: bold;
  font-style: normal;
}

#Boot2Gecko span {
  color: #C13832;
  position: absolute; 
  top: 58%; 
  right: 20%;
  font-size: 40px;
}

#Boot2Gecko .desc {
  left: 23%;
  top: 55%; 
}

#Demo strike {
  color: #666;
}
